<h1 class="text-center fw-bold">
    CRUD Productos
</h1>

<nav class="nav navbar-dark bg-dark" id="navId">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Agregar</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/formProducto">Productos</a>
      <a class="dropdown-item" href="/formCategoria">Categorias</a>
    </div>
  </li>
  <li class="nav-item" role="presentation">
    <a href="/listarProductos" class="nav-link">Listar</a>
  </li>
</nav>

